table {
    border: 1px solid silver;
}

td:hover {
    background-color: yellow;
    color: black;
}

tr, th {
    background-color: pink;
    color: purple;
}

tr, td {
    background-color: lightblue;
    color: black;
}